/* custom styles */

body {
  font-family: 'proxima-Nova', helvetica, arial, sans-serif;
  color: #666;
}

h5 {
  text-transform: uppercase;
  color: #00D99C;
  border-bottom: 1px solid #00d99c;
  padding-bottom: 5px;
  font-weight: 400;
}

img {
  max-width: 100%;
}

#login header {
  min-height: 78px;
}
  #login nav {
    display: none;
  }

#top-nav {
  height: 35px;
  text-align: right;
  padding-top: 10px;
  background: #f4f4f4;
}
  #top-nav p {
    margin-bottom: 0 !important;
  }

  #login #top-nav {
    display: none;
  }

.site-logo {
  max-width: 302px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
}

@media (min-width: 1000px) {
  .site-logo {
    float: left;
    margin-bottom: 0px;
  }
}

a {
  color: #0093D9;
  text-decoration: none;
}
  a:hover {
    color: #0093D9;
  }

nav {
  padding-bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

nav ul {
  margin-bottom: 0;
  padding-bottom: 14px;
}

nav li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
}

@media (min-width: 1000px) {
  li.last-link {
    padding-right: 0;
  }
  nav li {
    padding-left: 20px;
    padding-right: 20px;
  }
}

  nav li a {
    padding-bottom: 15px;
    color: #666;
  }
  nav li a:hover {
    border-bottom: 3px solid;
  }

  .selected-link {
    border-bottom: 3px solid;
    color: #0093D9;
  }

  @media (min-width: 1000px) {
    nav {
      float: right;
      margin-top: 40px;
    }
      nav li {
        padding-left: 30px;
        padding-right: 30px;
      }
  }



#main-content {
  background: url(../images/bg-page.jpg) top center;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 800px;
}

  #discover #main-content {
    background: url(../images/bg-community.jpg);
  }
  #watch #main-content {
    background: url(../images/bg-dashboard.jpg);
  }
  #specs #main-content {
    background: url(../images/bg-discover.jpg);
  }
  #login #main-content {
    background: #DDD9D5;
  }

  .show-home {
      background: #fff url(../images/all-watches.jpg) center center;
  }
  .show-discover {
      background: url(../images/module-watch.jpg) top left;
  }
  .show-videos {
      background: #fff url(../images/black-watch.jpg) top left no-repeat;
  }
    .video-1 {
      background: #fff url(../images/black-watch.png) center center no-repeat;
    }
    .video-2 {
      background: #fff url(../images/blue-watch.png) center center no-repeat;
    }

  .show-specs {
      background: url(../images/black-watch.jpg) top right;
  }

.hero-box,
.blue-box,
.small-box {
  min-height: 400px;
  height: 400px;
  margin-bottom: 60px;
  border-radius: 5px;
}

.small-box {
  min-height: 300px;
  height: 300px;
  padding: 30px 30px 30px 30px;
  text-align: center;
}

#login .small-box {
  text-align: left;
}

#discover .small-box h5,
#specs .small-box h5 {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.blue-box {
  background: #0093D9;
  color: #fff;
  text-align: center;
}
  .blue-box h5 {
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  .blue-box:hover {
    background: #0074AB;
  }

.black-box {
    color: #fff;
    background: #2C2A40;
  }
    .black-box:hover {
      background: #232233;
    }

.teal-box {
    color: #fff;
    background: #42B886;
  }
  .teal-box h5 {
    color: #fff;
    border-color: #fff;
  }
    .teal-box:hover {
      background: #389C72;
    }

.light-box {
    color: #52555A;
    background: #F3F2ED;
    min-height: 600px;
  }
  .light-box h5 {
    color: #52555A;
    border-color: #CCCACB;
    text-align: center;
  }
  .dark-box {
      color: #fff;
      background: #939598;
      min-height: 600px;
    }
    #login .dark-box h5 {
      color: #fff;
      border-color: #C9CACC;
      text-align: center;
    }

    .dark-text {
      color: #C9CACC;
    }

.play-button {
  width: 82px;
  margin: 158px auto;
  display: block;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* pic-boxes */
.edge-box {
  color: #fff;
  background: url(../images/colour-edge.jpg) center center no-repeat;
}
  .edge-box:hover {
    background: url(../images/black-edge.jpg) center center no-repeat;
  }

.gear-box {
  color: #fff;
  background: url(../images/colour-gear.jpg) center left no-repeat;
}

  .gear-box:hover {
    background: url(../images/black-gear.jpg) center left no-repeat;
  }

.note-box {
  color: #fff;
  background: url(../images/colour-note.jpg) center center no-repeat;
}
  .note-box:hover {
    background: url(../images/black-note.jpg) center center no-repeat;
  }

/* buttons */
.button.button-primary {
  color: #FFF;
  background-color: transparent !important;
  border-color: #fff;
}
  .button.button-primary:hover {
    color: #FFF;
    background-color: #006FA3;
    border-color: #fff;
  }

footer {
  background: #1F1D30;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
  font-size: 14px;
}

.copyright,
.samsung-logo {
  text-align: center;
}

.copyright {
  margin-bottom: 15px;
}

@media (min-width: 1000px) {
  .copyright {
    text-align: left;
    margin-bottom: 0;
  }
  .samsung-logo {
    text-align: right;
  }
}
